div#game {
    display: flex;
    flex-wrap: wrap;
}

#game>div {
    font-size: 24px;
    border: solid 1px black;
    padding: 4px;
    margin: 2px;
    text-align: center;
    flex: fit-content;
    height: 300px;
    width: 300px;
}

#game img {
    width: 100%;
}

.hidden {
    background-color: black;
}

.hidden * {
    display: none;

}